
.calculator {
    width: 295px;
    height: 517px;
    border: 1px solid #000;
    margin: 20px auto;
    background-color: rgba(84, 84, 84, 0.57);
    border-radius: 20px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    padding: 10px;
    box-shadow: 8px 8px 8px #4f4f4f;
}

.conteiner {
    background-color: #fff;
    border-radius: 10px;
    height: 135px;
    position: relative;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
        
}

.display {
    width: 94%;
    height: 130px;
    text-align: right;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-left: 5px;
    color: black;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(112, 113, 197, 0.57) ;
    filter: brightness(270%);
    box-shadow: inset 5px 5px 10px #252525;
}

.btn {
    width: 60px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 5px 5px 5px #c2c2c3, -5px -5px 5px #fff;
    transition: background-color 0.3s ease;
}
.btnAC {
    width: 60px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    background-color: rgba(53, 56, 209, 0.57) ;
    filter: brightness(270%);
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow:  -5px -5px 5px #fff;
    transition: background-color 0.3s ease;
}
.btnEQ {
    width: 60px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    background-color: rgba(53, 56, 209, 0.57) ;
    filter: brightness(270%);
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow:  -5px -5px 5px #fff;
    transition: background-color 0.3s ease;
}


.btn:hover {
    background-color: rgba(112, 113, 197, 0.57);
    filter: brightness(120%);
    box-shadow: inset 5px 5px 5px #d1d1d5, -5px -5px 5px #fff;
}
.btn:active {
    filter: brightness(90%);

}

.btnAC:hover {
    background-color: rgba(112, 113, 197, 0.57);
    filter: brightness(120%);
    box-shadow: inset 5px 5px 5px #d1d1d5, -5px -5px 5px #fff;
}
.btnAC:active {
    filter: brightness(90%);

}
.btnEQ:hover {
    background-color: rgba(112, 113, 197, 0.57);
    filter: brightness(120%);
    box-shadow: inset 5px 5px 5px #d1d1d5, -5px -5px 5px #fff;
}
.btnEQ:active {
    filter: brightness(90%);

}


